@model BlogHomekit.ViewModels.Posts.EditPostViewModel

@Html.HiddenFor(model => model.Id)

<div class="form-group">
    <div class="row">
        <div class="col-2">
            <h3>@Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })</h3>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="row"></div>
<div class="form-group">
    <h3>@Html.LabelFor(model => model.Portada, htmlAttributes: new { @class = "control-label col-md-2" })</h3>
    <div class="col-md-10">
        @Html.EditorFor(model => model.Portada, "HtmlEditor", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Portada, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row"></div>
<div class="form-group">
    <h3>@Html.LabelFor(model => model.Subtitulo, htmlAttributes: new { @class = "control-label col-md-2" })</h3>
    <div class="col-md-10">
        @Html.EditorFor(model => model.Subtitulo, "HtmlEditor", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Subtitulo, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row"></div>
<form>
    <div class="row">
        <div class="col-md-2">
            <h3> @Html.LabelFor(model => model.UrlSlug, htmlAttributes: new { @class = "control-label col-md-2" })</h3>
        </div>
        <div class="col-md">
            @Html.EditorFor(model => model.UrlSlug, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UrlSlug, "", new { @class = "text-danger" })
        </div>
    </div>
</form>
<div class="row"></div>
<div class="form-group">
    <h3>@Html.LabelFor(model => model.ContenidoHTML, htmlAttributes: new { @class = "control-label col-md-2" })</h3>
    <div class="col-md-10">
        @Html.EditorFor(model => model.ContenidoHTML, "HtmlEditor", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ContenidoHTML, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row"></div>

<div class="form-group">
    <div class="row">
        <div class="col-2">
            <h3>@Html.LabelFor(model => model.EsBorrador, htmlAttributes: new { @class = "control-label col-md-2" })</h3>
        </div>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.EsBorrador)
                @Html.ValidationMessageFor(model => model.EsBorrador, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<div class="row"></div>
<div class="form-group">
    <div class="row">
        <div class="col-md-2">
            <h3>@Html.LabelFor(model => model.LinkVideo, htmlAttributes: new { @class = "control-label col-md-2" })</h3>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.LinkVideo, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>
<div class="row"></div>
<div class="form-group">
    <div class="row">
        <div class="col-md-2">
            <h3>@Html.LabelFor(model => model.FechaPost, htmlAttributes: new { @class = "control-label col-md-2" })</h3>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.FechaPost, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>
<div class="row"></div>
<div class="form-group">
    <div class="row">
        <div class="col">
            <h3>@Html.LabelFor(model => model.FechaPublicacion, htmlAttributes: new { @class = "control-label col-md-2" })</h3>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.FechaPublicacion, "DatePicker", new { htmlAttributes = new { @class = "form-control col-xs-2" } })
            @*@Html.ValidationMessageFor(model => model.FechaPublicacion, "", new { @class = "text-danger" })*@
        </div>
    </div>
</div>
<div class="row"></div>

<div class="form-group">
    <div class="row">
        <div class="col-2">
            <h3>@Html.LabelFor(model => model.Autor, htmlAttributes: new { @class = "control-label col-md-2" })</h3>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Autor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Autor, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
